# IBM Applied Data Science Capstone Course by Coursera
### Week 3 Parts 1 and 2
- Build a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name in Toronto.
- Get the geographical coordinates of the neighborhoods in Toronto.
- Explore and cluster the neighborhoods in Toronto (replicate the same analysis we did to New York City data).
***
### 1. Import libraries

## Greetings!

Welcome to my new Jupyter notebook, which I am launching to support me as I work through my ninth class in the Coursera Professional Certificate in Data Science Program. I will use this to experiment, to tweak, and ultimately to complete the capstone. Stay Tuned!

In [2]:
# Python says Hello, world!

print('Hello, world!')

Hello, world!

In [3]:
# Now I'll say: Hello Capstone Project Course!
print ('Hello Capstone Project Course!')

Hello Capstone Project Course!

### Note:
I cannot figure how to get my code to run without some including some things that seem superfluous and/or redundant: please indulge!

In [4]:
#Import libraries

import pandas as pd
import requests
from bs4 import BeautifulSoup

## 1. Import data from Wikipedia page and put into dataframe.

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Request page
response = requests.get(url)

### ...Using BeautifulSoup

In [6]:
#Do the soup, find table, isolate rows
soup = BeautifulSoup(response.text)
table = soup.find('tbody')
tablerows = table.find_all('tr')[1:]

In [7]:
#Define df columns 
cols = ['PostCode', 'Borough', 'Neighbourhood'] 
#Initialize df
df = pd.DataFrame(columns=cols)

In [8]:
#Add rows to df
for i in range(len(tablerows)):
    df.loc[i] = [td.text.strip() for td in tablerows[i].find_all('td')]

In [9]:
#Check
df.head()

  PostCode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [10]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df.drop(df[df.Borough == 'Not assigned'].index)

## 2. Drop all Boroughs listed as "Not Assigned" and keep the rest.

In [11]:
geodata = pd.read_csv('http://cocl.us/Geospatial_data', sep=',')

In [12]:
df.head(10)

   PostCode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [13]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. 
#So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns 
#will be Queen's Park.

df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

## 3. Group Boroughs into Neighborhoods based on Postal Code.

In [14]:
#More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, 
#you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows 
#will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

df = df.groupby(['PostCode', 'Borough'])['Neighbourhood'].apply(list).to_frame().reset_index()

#Remove square brackets
df['Neighbourhood'] = df['Neighbourhood'].str.join(', ')

### Make sure the 'new' dataframe's shape is the same as that described by the question.

In [15]:
#Final result
df.shape

(103, 3)

## 4. 'Print' the new, improved dataframe.

In [16]:
geodata = pd.read_csv('http://cocl.us/Geospatial_data', sep=',')

In [17]:
df_m = df.merge(geodata, left_on='PostCode', right_on='Postal Code', how='left')

In [18]:
df_m

,PostCode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,M1J,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",M1K,43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",M1L,43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",M1M,43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",M1N,43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",M1P,43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",M1R,43.750072,-79.295849
12,M1S,Scarborough,Agincourt,M1S,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",M1T,43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",M1V,43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West,M1W,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,M1X,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,M2H,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",M2J,43.778517,-79.346556
19,M2K,North York,Bayview Village,M2K,43.786947,-79.385975
20,M2L,North York,"Silver Hills, York Mills",M2L,43.757490,-79.374714
21,M2M,North York,"Newtonbrook, Willowdale",M2M,43.789053,-79.408493
22,M2N,North York,Willowdale South,M2N,43.770120,-79.408493
23,M2P,North York,York Mills West,M2P,43.752758,-79.400049
24,M2R,North York,Willowdale West,M2R,43.782736,-79.442259
25,M3A,North York,Parkwoods,M3A,43.753259,-79.329656
26,M3B,North York,Don Mills North,M3B,43.745906,-79.352188
27,M3C,North York,"Flemingdon Park, Don Mills South",M3C,43.725900,-79.340923
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights",M3H,43.754328,-79.442259
29,M3J,North York,"Northwood Park, York University",M3J,43.767980,-79.487262
...,...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,M6C,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks,M6E,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie,M6G,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village, Dufferin",M6H,43.669005,-79.442259
77,M6J,West Toronto,"Little Portugal, Trinity",M6J,43.647927,-79.419750
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",M6K,43.636847,-79.428191
79,M6L,North York,"Downsview, North Park, Upwood Park",M6L,43.713756,-79.490074
80,M6M,York,"Del Ray, Keelesdale, Mount Dennis, Silverthorn",M6M,43.691116,-79.476013
81,M6N,York,"The Junction North, Runnymede",M6N,43.673185,-79.487262
82,M6P,West Toronto,"High Park, The Junction South",M6P,43.661608,-79.464763
83,M6R,West Toronto,"Parkdale, Roncesvalles",M6R,43.648960,-79.456325
84,M6S,West Toronto,"Runnymede, Swansea",M6S,43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,M7A,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre,M7R,43.636966,-79.615819
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,M7Y,43.662744,-79.321558
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto",M8V,43.605647,-79.501321
89,M8W,Etobicoke,"Alderwood, Long Branch",M8W,43.602414,-79.543484
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",M8X,43.653654,-79.506944
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",M8Y,43.636258,-79.498509
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",M8Z,43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue,M9A,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",M9B,43.650943,-79.554724
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",M9C,43.643515,-79.577201
96,M9L,North York,Humber Summit,M9L,43.756303,-79.565963
97,M9M,North York,"Emery, Humberlea",M9M,43.724766,-79.532242
98,M9N,York,Weston,M9N,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",M9R,43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",M9V,43.739416,-79.588437
102,M9W,Etobicoke,Northwest,M9W,43.706748,-79.594054

## 5. Install and import Folium

In [19]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [20]:
!conda install -c conda-forge folium=0.5.0 --yes
!pip install folium

print('Folium installed and imported!')

WARNING conda.base.context:use_only_tar_bz2(632): Conda is constrained to only using the old .tar.bz2 file format because you have conda-build installed, and it is <3.18.3.  Update or remove conda-build to get smaller downloads and faster extractions.
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.

Requirement already satisfied: folium in /anaconda3/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: branca in /anaconda3/anaconda3/lib/python3.7/site-packages (from folium) (0.3.1)
Requirement already satisfied: jinja2 in /anaconda3/anaconda3/lib/python3.7/site-packages (from folium) (2.10)
Requirement already satisfied: requests in /anaconda3/anaconda3/lib/python3.7/site-packages (from folium) (2.21.0)
Requirement already satisfied: six in /anaconda3/anaconda3/lib/python3.7/site-packages (from folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /anaconda3/anaconda3/lib/python3.7/site-packages (from jinja2->folium) (1.1.1)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/anaconda3/lib/python3.7/site-packages (from requests->folium) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/anaconda3/lib/python3.7/site-packages (from requests->folium) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/anaconda3/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/anaconda3/lib/python3.7/site-packages (from requests->folium) (1.24.1)
Folium installed and imported!

## 6. Load coordinates (latitude, longitude) from .csv file on Coursera

In [21]:
# load the coordinates from the csv file on Coursera
coordinates = pd.read_csv("Geospatial_Coordinates.csv")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
# send the GET request
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [23]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

In [24]:
# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

In [25]:
# append the data into the respective lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n')) # avoid new lines in neighborhood cell

In [26]:
# create a new DataFrame from the three lists
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})

toronto_df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [27]:
# drop cells with a borough that is Not assigned
toronto_df_dropna = toronto_df[toronto_df.Borough != "Not assigned"].reset_index(drop=True)
toronto_df_dropna.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [28]:
# group neighborhoods in the same borough
toronto_df_grouped = toronto_df_dropna.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [29]:
# for Neighborhood="Not assigned", make the value the same as Borough
for index, row in toronto_df_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
toronto_df_grouped.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [30]:
# create a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(toronto_df_grouped[toronto_df_grouped["PostalCode"]==postcode], ignore_index=True)
    
test_df

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Woodbine Gardens, Parkview Hill"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Maryvale, Wexford"
7,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo..."
10,M1B,Scarborough,"Rouge, Malvern"
11,M5A,Downtown Toronto,"Harbourfront, Regent Park"

### 7. Print the number of rows of the cleaned dataframe

In [31]:
# print the number of rows of the cleaned dataframe
toronto_df_grouped.shape

(103, 3)

### 8. Load the coordinates from the csv file on Coursera

In [32]:
# load the coordinates from the csv file on Coursera
coordinates = pd.read_csv("Geospatial_Coordinates.csv")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# rename the column "PostalCode"
coordinates.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
coordinates.head()

### 9. Merge two tables to get the coordinates

In [34]:
# merge two table on the column "PostalCode"
toronto_df_new = toronto_df_grouped.merge(coordinates, on="PostalCode", how="left")
toronto_df_new.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### 10. Finally, Check to make sure the coordinates are added as required by the question

In [35]:
# create a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood", "Latitude", "Longitude"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(toronto_df_new[toronto_df_new["PostalCode"]==postcode], ignore_index=True)
    
test_df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
7,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo...",43.628947,-79.394420
10,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
11,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636